body{
    text-align: center;
}
.button1{
    background-color: white;
    color: black;
    border: none;
    outline: none;
    padding: 7px;
    font-size: 1.3rem;
}

.button1:hover{
    background-color: black;
    color: white;
}

.button2,
.button3,
.button4{
    background-color: white;
    border-color: white;
    border: none;
}

.button2:hover, 
.button3:hover, 
.button4:hover{
    border-width: 2px;
    border-style: outset;
    border-color: black;
    border-image: initial;
}

#addTask {
    margin: 40px 0px;
}

#task { 
    width: 250px;
    padding: 10px;
    font-size: 1rem;
}

#todoList {
    max-width: 400px;
    margin:0 auto;
    text-align: left;
  }

footer{
    max-width: 350px;
    margin:0 auto;
    padding:1em;
}